.App {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  
  height: 100%;
  width: 100%;
}

.App>div {
  /*Router div fix*/
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Spectral SemiBold';
  src: url('Spectral\\Spectral-SemiBold.ttf');
  src: local('Spectral SemiBold'), local('Spectral SemiBold'),
    url("Spectral\\Spectral-SemiBold.ttf") format("truetype")
}

.action-button {
  font-family: Intro Head R Base; /*TODO: pack with the app, custom font*/
  background-color: #912710;
  color: white;
  border: none;
}

.action-button-big {
  text-align: left;    
  font-size: xx-large;
}
