.item-showcase {
    background-color: black; /*#1c1c1c;*/
    font-family: Spectral SemiBold; /*TODO: pack with the app, custom font*/
    padding: 8px;
    padding-left: 0px;
    padding-right: 20px;
    margin-left: 0px;
    width: max-content;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.col-image {
    padding-left: 8px !important;
    padding-right: 12px !important;
}

.item-image-container {
    height: 80px;
    width: 80px;
}

.item-image-container>.item-image-border {
    height: 64px;
    width: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    border: #eaecdb 2px solid; 
}

.item-image-container>.item-image {
    max-height: 80px;
    max-width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.item-name {
    color: #eaecdb;
    text-align: left;
    margin-top: -3px;
    margin-bottom: 3px;
    font-size: 17px;
}

.textbreak {
    display: block;
    min-width: 100%;
    max-width: min-content;
    margin-bottom: 4px;
}

.item-stat {
    text-align: left;
    font-size: 16px;
    line-height: 1.4;
}

.stat-modifier {
    color: #9a998f;
}

.stat-name {

}

.stat-comment {
    color: #9a998f;
}

input:focus {
    outline: none;
}

.item-info-container, .item-stat-container, .item-stat, .item-name {
    max-width: max-content;
}