

.item-fields-editor {
    font-family: Spectral SemiBold; /*TODO: pack with the app, custom font*/
    color: #eaecdb;
    background-color: #00000088;
    min-height: 100%;
}

.item-name-input {
    height: 38px;
    background-color: black;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

form {    
    flex-direction: column;
    display: flex;
}

label {
    align-self: baseline;
}

button {
    font-family: Intro Head R Base; /*TODO: pack with the app, custom font*/
    background-color: #912710;
    color: white;
    border: none;
}

.continue-button, .add-button {
    text-align: left;    
    font-size: xx-large;
}

.add-button {
    width: 7em;
}

.continue-button {
    width: 4em;
}

.display-type-container {
    text-align: start;
}

.display-type-button {
    text-align: left;    
    font-size: xx-large;
}

.display-type-button.conceptual {
    width: 4em;
}

.display-type-button.classic {
    width: 3em;
}

.display-type-button:not(.selected) {
    background-color: black;
}

.continue-button:active, .add-button:active {
    transform: translateY(2px);
  }
