.show-case-popup {
    width: 100%;
    background: #1c1c1c;
    padding: 10px;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align-last: center;
}

.show-case-popup .item-showcase {
    position: initial !important;
    top: auto !important;
    left: auto !important;
    transform: none !important;
    margin-right: 0px !important;
}