.item-creator {
    height: 100%;
    overflow: auto;
}

@media screen and (max-width: 992px) {
    .item-showcase-wrapper {
        display: none
    }
}

.show-case-content {
    background: #000000EE !important;
    max-width: 90% !important;
    width: -webkit-fill-available !important;
}

#show-case-hidden {
    position: relative;
    max-width: max-content;
}

#show-case-hidden .item-showcase {
    max-width: none !important;
    top: 0px !important;
    left: 0px !important;
    transform: none !important;
}